body{
  text-align:center;
}
#trid1{
  background-color:red;
}
#trid2{
  background-color:yellow;
}
#trid3{
  background-color:lime;
}
#listimp{
  background-color:red;
}
#listmed{
  background-color:yellow;
}
#listnot{
  background-color:lime;
}