body{
  text-align:center;
}
#trid1{
  background-color:red;
}
#trid2{
  background-color:yellow;
}
#trid3{
  background-color:lime;
}
#listall{
  background-color:black;
  color:white;
}
#listimp{
  background-color:red;
}
#listmed{
  background-color:yellow;
}
#listnot{
  background-color:lime;
}
#listoverdues{
  text-align:right;
}